<!DOCTYPE html>
<html lang="en">
<head>
  <title>Trang quản lí sản phẩm</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
  <%- include("header")%>
  <br>
  <br> 
  <style>
    /* Make the image fully responsive */
    .carousel-inner img {
      width: 100%;
      height: 100%;
    }
    .carousel-item{
      background-color: brown;
      height: 400px;
        width:100%;
    }
    .card{
        margin-top: 110px;
        background-color: white;
    
    }
    .ft{
        width: 50px;
  
    }
    .btn{
        background-color: #f0e7de;
        margin: 20px;
    }
  
  
    </style>
      <div class="container">
  <div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/upload/background2.jpg" alt="logo" width="1100" height="500">
        <div class="carousel-caption">
          <h3><b>CỬA HÀNG THỜI TRANG NAM</b></h3>
          <p></p>
        </div>   
      </div>
      <div class="carousel-item">
        <img src="/upload/logo.jpg" alt="logo" width="300" height="200">
        <div class="carousel-caption">
          <h3 style="color: rgb(8, 8, 8);text-align: left;"><b>ADMIN</b></h3>
          <h4 style="color: rgb(12, 11, 11); text-align: left;"><b>esdc@gmail.com</b></h4>
        </div>   
      </div>
      <div class="carousel-item">
        <img src="/upload/logo.jpg" alt="logo" width="" height="500">
        <div class="carousel-caption">
          <h2 style="color: rgb(2, 54, 37);text-align: center;"><b>Trang quản lí sản phẩm</b></h2>
          <h1 style="color: rgb(10, 9, 9);"><b></b></h1>
        </div>   
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
  
  <p style="font-family: ImpactCharcoal;font-size: 50px; text-align: center;">SẢN PHẨM</p>
  
  <div class="row">
      <div class="col-md-3">
          <div class="container">
            <form action="/search" method="post" class="abc">
              <table>
                <tr>
                  <td colspan="2">
                  <h5>TÌM KIẾM SẢN PHẨM</h5>
                  </td>
                 
                </tr>
                <tr>
                  <td>
                  Giá tiền:
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td>
                  Từ:
                    </td>
                    <td>
                     <input class="ft"type="text" name = "dataF">
                     </td>
                     </tr>
                     <tr>
                       <td>
                          Đến:
                        </td>
                        <td>
                     <input class ="ft" type="text" name = "dataT">
                     </td>
                     </tr>
                  <tr>
                    <td>
                        Tên sản phẩm:
                      </td>
                      <td>
                        <input class="findByNameOrType" type="text" name = "dataNameType" >
                      </td>
                  </tr>
                  <!-- <input class="findByNameOrType" type="text" name = "dataNameType" > -->
                  <tr>
                    <td></td>
                    <td>
                  <input type="submit" class="btn btn-primary" value="tìm kiếm">  
                  </td>
                  </tr>
                </table>
             </form>
          <hr>
          </div>
      </div>
   


<div class="col-md-9">
  <!-- <div class="card-deck">-->
    <div class="row">
     <% product.forEach(p=>{%>
     <div class="col-md-4">
     <div class="card">
       <img class="card-img-top" src="<%=p.image%>" alt="Card image cap">
       <div class="card-body">
         <h5 class="card-title"><%=p.name%></h5>
     
         <%if(p.discount!=null ){%>
          <p class="card-text">giá tiền:<strike><%=p.price%></strike>  <%=p.price-p.price*p.discount/100%></p>  
          <p class="card-text"></p>
           <%}else{%>
            <p class="card-text">giá tiền:<%=p.price%></p>
            <%}%>
     
       </div>
       <button class="btn btn-danger" id="update" ><a href="/update/<%=p._id%>"><b>Chỉnh sửa</b></a></button>   
      <button class="btn btn-danger" id="btnDelete"><a href="/delete/<%=p._id%>"><b>Xóa</b></a></button>
     </div>
   </div>
   <%})%>
  </div>

</div>
</div>


<script>
    $("#card1").mouseover(()=>{
        $("#card1").css("box-shadow", "3px 7px 10px #e6e6e6");
    })
    $("#card1").mouseout(()=>{
        $("#card1").css("box-shadow", "none");
    })
</script>
</body>
</html>
