<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



  </style>

</head>
<body>
 <%- include("header")%>
 <br>
 <br> 
  <style>
    /* Make the image fully responsive */
    .carousel-inner img {
      width: 100%;
      height: 100%;
      background-image: url("/upload/background1.jpg");
    }
    .carousel-item{
      background-color: brown;
      background-image: url("/upload/background1.jpg");
      height: 400px;
      width:100%;
    }
    .card{
        margin-top: 110px;
        background-color: white;
    
    }
    .ft{
        width: 50px;
  
    }
    .btn{
        background-color: #ff9933;
        margin: 20px;
    }
  
    .abc{
  
        text-align: left ;
    }
  
    </style>
  <div class="container">
<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/upload/background2.jpg" alt="logo" width="1100" height="500">
      <div class="carousel-caption">
        <h3><b>CỬA HÀNG THỜI TRANG NAM</b></h3>
        <p></p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="/upload/background3.jpg" alt="logo" width="300" height="200">
      <div class="carousel-caption">
        <h3 style="color: rgb(16, 16, 17);"><b>NEW STYLE</b></h3>
        <h1 style="color: rgb(214, 4, 4);"><b>2021</b></h1>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="/upload/background4.jpg" alt="logo" width="" height="500">
      <div class="carousel-caption">
        <h2 style="color: rgb(250, 248, 248);"><b>Sale off up to</b></h2>
        <h1 style="color: rgb(211, 5, 5);"><b>70%</b></h1>
      </div>   
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<h3><center><b>SẢN PHẨM</b> </center></h3>

<div class="row">
    <div class="col-md-3">
        <div class="container">
          <form action="/search" method="post" class="abc">
            <table>
              <tr>
                <td colspan="2">
                <h5>TÌM KIẾM SẢN PHẨM</h5>
                </td>
               
              </tr>
              <tr>
                <td>
                Giá tiền:
                </td>
                <td></td>
              </tr>
              <tr>
                <td>
                Từ:
                  </td>
                  <td>
                   <input class="ft"type="text" name = "dataF">
                   </td>
                   </tr>
                   <tr>
                     <td>
                        Đến:
                      </td>
                      <td>
                   <input class ="ft" type="text" name = "dataT">
                   </td>
                   </tr>
                <tr>
                  <td>
                      Tên/loại sản phẩm:
                    </td>
                    <td>
                      <input class="findByNameOrType" type="text" name = "dataNameType" >
                    </td>
                </tr>
                <!-- <input class="findByNameOrType" type="text" name = "dataNameType" > -->
                <tr>
                  <td></td>
                  <td>
                <input type="submit" class="btn" value="tìm kiếm">  
                </td>
                </tr>
              </table>
           </form>
        <hr>
        </div>
    </div>
 


<!-- <script>
    $("#card1").mouseover(()=>{
        $("#card1").css("box-shadow", "3px 7px 10px #e6e6e6");
    })
    $("#card1").mouseout(()=>{
        $("#card1").css("box-shadow", "none");
    })
</script> -->

<div class="col-md-9">
     <!-- <div class="card-deck">-->
       <div class="row">
        <% product.forEach(p=>{%>
        <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="<%=p.image%>" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%=p.name%></h5>
            <%if(p.discount!=null ){%>
              <p class="card-text">giá tiền:<strike><%=p.price%></strike>  <%=p.price-p.price*p.discount/100%></p>  
              <p class="card-text"></p>
               <%}else{%>
                <p class="card-text">giá tiền:<%=p.price%></p>
                <%}%>
          </div>
          <a href="detail/<%=p._id%>" class="btn btn-primary">Chi tiết</a>
        </div>
      </div>
      <%})%>

    
     </div>
    </div>

    
</div>
</div>
</body>
</html>
